* { margin: 0; padding: 0; border: 0; font-size: 100%; }

p.first {
	background-color: yellow
	
}
#lorem {
	color: blue;
	font-family: 'RocknRoll One', sans-serif;	
}

div {
	width: 300px;
	border: 15px solid green;
	padding: 50px;
	margin: 0 auto;
	background-image: url(oersoep.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-size: cover;
}